{% extends "index.twig" %}

{% block alerts %}
<div class="alert alert-success alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Well done {{ username }}!</strong> Your account has been created.
</div>
{% endblock %}

